/* .wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
} */

.wrapper{
    background-color: lightgray;
    /* color: black; */
}
.eventcontainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;

    border: 2px solid #265f63;
    border-radius: 5px;
    margin: 10px;
    background-color: #399197;
}

.eventtitle{
    grid-column: 1/3;
    grid-row: 1;

    border-bottom: 2px solid #265f63;
    text-align: center;
    padding:10px;
}

.eventlocation{
    grid-column: 1/2;
    grid-row: 2;
    
    padding:5px;
    margin: 2px;
}

.signup{
    grid-column:2/3;
    grid-row:2;
    
    text-align:center;

    /* border: 1px solid blue;
    margin: 2px;
    text-align: center; */
}


@media screen and (min-width: 1024px){
    .wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 790px){
    .wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 790px){
    .wrapper{
        display:grid;
        grid-template-columns: 1fr;
    }
}