/* .wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
} */


.eventcontainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;

    border: 2px solid green;
    margin: 10px;
}

.eventtitle{
    grid-column: 1/3;
    grid-row: 1;

    text-align: center;
}

.eventlocation{
    grid-column: 1/2;
    grid-row: 2;
    
    margin: 2px;
}

.signup{
    grid-column:2/3;
    grid-row:2;

    text-align:center;

    

    /* border: 1px solid blue;
    margin: 2px;
    text-align: center; */
}



@media screen and (min-width: 1024px){
    .wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 790px){
    .wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 790px){
    .wrapper{
        display:grid;
        grid-template-columns: 1fr;
    }
}