

#nav {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    

}

body{
    color: white;
    background-color: #2b2828;
    font-family:  sans-serif
}

.button {
    background-color: #399197;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }