

#nav {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px;
    text-align: center;
}

body{
    color: white;
    background-color: black;
    font-family: lato;
}

.button {
    background-color: #008080;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }