

#nav {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: right;
}

h1{
    display: flex;
    align-items: center;
}

#heading{
    height: 200px;
    width: 100%;
    background-color: #399197;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    color: white;
    background-color: #2b2828;
    font-family:  sans-serif
}

.button {
    /* background-color: #399197; */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

 .button a:hover{
    background-color: crimson;
 }