#heading {
    display: grid;
    grid-template-columns: 1.5fr 3.5fr 3.5fr 1.5fr;
    height: 500px;
    width: 100%;
    background-color: #294B4D;
    margin: 0;
    padding: 0;
}

#heading > h1{
    grid-column-start: 2;
    grid-column-end: 3;
}

#heading > img{
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 40px;
}

#about-us{
    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr 3.5fr 1fr;
    height: 500px;
}

#left{
    grid-column-start: 2;
    grid-column-end: 3;
}

#right{
    grid-column-start: 4;
    grid-column-end: 5;
}

#button{
    background-color: #294B4D;
}

#colorbackground{
    background-color: #294B4D;
    height: 700px;
}
#previous-events{
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 0.5fr 2.5fr 0.5fr 2.5fr 0.5fr;
    height: 550px;
    background-color: #294B4D;
}

#one{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    background-color: #2b2828;
    padding: 30px;
    height: 350px;
    border-radius: 10px;
}

#two{
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
    background-color: #2b2828;
    padding: 30px;
    height: 350px;
    border-radius: 10px;
}

#three{
    grid-column-start: 6;
    grid-column-end: 7;
    text-align: center;
    background-color: #2b2828;
    padding: 30px;
    height: 350px;
    border-radius: 10px;
}

#prevevent{
    padding: 70px;
}
