.story{
    text-align: center;
}


  .carousel {
    position:absolute;
    max-width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.3s ease;
   
  }
  
  .carousel-item {
    width: 100%;
    flex:auto; 
  }

  .carousel-item img{
    width:100%;
    height: min-content;
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    color: #FFFF;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  .footer {
   align-content: center;
  }
  

@media screen and (min-width: 790px){
    .storyBox{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 790px){
    .storyBox{
        display:grid;
        grid-template-columns: 1fr;
    }
}