.story{
    text-align: center;
}

@media screen and (min-width: 790px){
    .storyBox{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 790px){
    .storyBox{
        display:grid;
        grid-template-columns: 1fr;
    }
}