.story{
    text-align: center;
}

  
  .carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .carousel-item {
    width: 100%;
    flex: 0 0 auto;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  

@media screen and (min-width: 790px){
    .storyBox{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 790px){
    .storyBox{
        display:grid;
        grid-template-columns: 1fr;
    }
}