body{
    display: grid;
    grid-template-rows: 4, 1fr;
}
.nav{
    grid-row: 1/2;
}
.mainDiv{
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/image\ \(1\).png); /*Used https://app.haikei.app/*/
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    min-height: 700px;
    height: 100%;
    width: 100%;
    overflow:hidden;
}

.mainFieldSet{
    background-color: #265f63;
    margin-top: 2%;
    margin-bottom: 2%;
    min-height: 621.38px;
    max-width: 473.59px;
}
.mainFieldsetItems p{
    font-weight: bold;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mainFieldsetItems{
    background-color: lightgrey;
    color: black;
    padding: 5px;
}
button{
    background-color: bisque;
    font-size: 1em;
}
.buttonDiv{
    display: flex;
    justify-content: end;
}